<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_url('Bienetre')%>)">
  <div class="container">
    <h1>Welcome for a Relaxation Session</h1>
    <p>Relax and discover our selection of meditation, yoga and massage <span style='font-size:20px;'>&#128524;</span></p>
    <p class="btn btn-light"><%= link_to "Discover now", offers_path, class:"black_link" %></p>
    <br>
      <%= form_tag offers_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Search by the name of professor or the name of the activity"
      %>
      <%= submit_tag "Search", class: "btn btn-secondary" %>
      <% end %>
  </div>
</div>

<div class="container">
  <div class="justify-content-around">
    <div class="cards">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_url('Meditation')%>)">
     <%= link_to "Meditation", offers_path(category: "Meditation") %>
      </div>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_url('Massage')%>)">
      <%= link_to "Massage", offers_path(category: "Massage") %>
      </div>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_url('Yoga')%>)">
      <%= link_to "Yoga", offers_path(category: "Yoga") %>
      </div>
    </div>
  </div>
</div>
