<div class="container">
  <div class="row">
    <div class="col-12">
      <br>
      <h1 class="text-center">Relaxation Offers</h1>
    </div>
 </div>
</div>
<div class="row justify-content-center">
  <% @offers.each do |offer| %>
    <div class="card-offer">
      <img class="card-image" style="background-image: url('<%= cl_image_tag offer.photo.key, height: 300, crop: :fill %>')"/>
      <div class="card-offer-infos">
        <div>
          <h2><%= offer.name %></h2>
          <p><%= offer.category %></p>
          <p class="btn btn-light"><%= link_to 'Details', offer_path(offer), class:"black_link" %></p>
        </div>
        <h2 class="card-offer-pricing">Credit?</h2>
        <%# <img src="/app/assets/images/Lotus.png" class="card-offer-logo avatar-bordered" /> %>
      </div>
    </div>
  <% end %>
</div>

<%# <%= cl_image_tag("ztnkrmzqu19ajdejyxyb", width: 400, height: 300, crop: :fill)%>

<%# <% if policy(Offer).new? %>
  <%# <%= link_to 'New Offer', new_offer_path %>
<%# <% end %>
