<div class="container">
  <div class="row">
    <div>
      <br>
      <h1 class="text-left">Discover our Offers</h1>
    </div>
 </div>
</div>

<div class="row justify-content-center">
  <% @offers.each do |offer| %>
    <div class="card-offer">
      <div class="card-image">
        <%= cl_image_tag offer.photo.key, height: 150, width: 500, crop: :fill %>
      </div>
      <div class="card-offer-infos">
        <div>
          <h2 style="font-size: 20px;"><%= offer.name %></h2>
          <p style="font-size: 15px;"><%= offer.category %></p>
          <p class="btn btn-light" style="font-size: 12px;"><%= link_to 'Details', offer_path(offer), class:"black_link" %></p>
        </div>
        <h2 class="card-offer-pricing">Credit?</h2>
      </div>
    </div>
  <% end %>
</div>

<div style="display: flex; justify-content: space-between; margin: 15px;">
  <p class="text-left"><%= link_to "back", root_path, class: "btn btn-secondary", style:"font-size: 20px; padding-left: 20px; padding-right: 20px;" %>
  <% if policy(Offer).new? %>
  <p class="btn btn-light" style="font-size: 20px; padding-left: 20px; padding-right: 20px;"><%= link_to 'New Offer', new_offer_path, class:"black_link" %></p>
  <% end %>
</div>
