<div class="container justify-content-center">
  <br>
  <h1 class="text-center">Your offer</h1>
  <div>
    <div class="container col-8">
      <%= simple_form_for @offer, remote: true do |f| %>
        <%= f.input :category, collection: ["Meditation", "Massage", "Yoga"]%>
        <%= f.input :name, placeholder: 'ex: 5 minutes yoga' %>
        <%= f.input :description %>
        <%= f.input :address, id:"offer_address" %>
        <%= f.input :photo, as: :file, label: "Add an image" %>
        <%= f.submit "Confirm", class: "btn btn-primary" %> <%= link_to "back", offers_path, class: "btn btn-secondary" %>
      <% end %>
    </div>
  </div>
</div>
