<div class="container">
  <br>
  <H3> Looking for <%= @offer.category %> ?</H3>
  <br> <% user = @offer.user %>
  <h1> Book your "<%= @offer.name %>" session with <%= user.first_name %> :) </h1>
  <br>
  <p> Description: </p>
  <%= @offer.description %>
  <br>
  <br>
  <%= link_to "back", offers_path, class: "btn btn-secondary" %>
</div>
