<div class="container-show" style="padding-left: 100px; padding-right: 100px;">
  <br>
  <h1 style="padding-left: 80px;">You will love this selection</h1>
  <br>
  <div class="card-product">
    <div class="card-product-container">
      <div class="card-product-infos" style="font-size: 17px;">
        <h3 class="text-center"> Book your <%= @offer.category %> Session now!</h3>
        <h3 class="text-center", style="margin-top: 10px;"> Discover the "<%= @offer.name %>" created by <%= @offer.user.first_name %></h3>
        <h2 style="font-size: 20px;"> Description: </h2>
        <%= @offer.description %>
        <h2 style="font-size: 20px; margin-top: 10px;"> Address: </h2>
        <%= @offer.address %>
      </div>
      <div style="display: flex; justify-content: center;">
        <br>
        <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModal" style="font-size: 20px;">reserve</button></p>
      </div>
    </div>
    <img class="card-image" style="background-image: url('<%= cl_image_path @offer.photo.key, height: 300, width: 400, crop: :fill %>')" />
  </div>
  <br>
  <div style="display: flex; justify-content: space-between; margin: 15px;">
  <p class="text-left"><%= link_to "back", offers_path, class: "btn btn-secondary", style:"font-size: 20px; padding-left: 20px; padding-right: 20px;" %>
  <% if policy(Offer).destroy? %>
  <p class="btn btn-light" style="font-size: 20px; padding-left: 20px; padding-right: 20px;"><%= link_to 'Delete offer', offer_path(@offer), method: :delete, data: { confirm: "Are you sure you want to delete this offer?"}, remote: true, class:"black_link" %></p>
  <% end %>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Reserve the selected session</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4>"<%= @offer.name %>" will cost you <% credit= rand (10) %> <%= credit %> credits, do you confirm your reservation?</h4>
        <%= simple_form_for [@offer, @booking] do |f| %>
        <%= f.input :date %>
        <p class="text-center"><%= f.submit class: "btn btn-secondary" %></p>
        <% end %>

      </div>
    </div>
  </div>
</div>
